/* generale */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 100%;
  font-weight: 400;
  color: #33475b;
  line-height: 1.611em;
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.widget{
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 101;
  font-size: 30px;
  background-color: rgb(66, 91, 118);
  border-radius: 50%;
  color: white;
  padding: 0.9%;
  cursor: pointer;
}
.widget:hover{
  font-size: 60px;
  transition: 1s;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
button:hover{
  cursor: pointer;
}
h3{
  font-size: 20px;
  line-height: 1.3125em;
  padding-bottom: 20px;
  width: 105%;
}
:hover{
  cursor: pointer;
}
/* header -----------------------------------------------*/
/* pre-nav --------------------------------------*/
.pre-nav{
  background-color: #f5f8fa;
  height: 80px;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.pre-nav-left a,
.pre-nav-left a:link,
.pre-nav-left a:visited,
.main-nav-right a,
.main-nav-right a:link,
.main-nav-right a:visited{
  color: #33475b;
  text-decoration: none;
}
.search a,
.search a:link,
.search a:visited{
color:#7fd1de;
text-decoration: none;
}
.pre-nav-right .log-in a,
.pre-nav-right .log-in a:link,
.pre-nav-right .log-in a:visited{
  color: #ff7a59;
  text-decoration: none;
}
.pre-nav-right .get-hubspot-free a,
.pre-nav-right .get-hubspot-free a:link,
.pre-nav-right .get-hubspot-free a:visited,
.start-hubspot-now a,
.start-hubspot-now a:link,
.start-hubspot-now a:visited{
  color: #fff;
  text-decoration: none;
}
.pre-nav-right .get-hubspot-free:hover,
.hubspot-presentation button:hover,
.get-free button:hover,
.marketing-features button:hover,
.start-hubspot-now button:hover{
background-color:#ffbcac;
}
.pre-nav-right .log-in:hover{
background-color:#fff1ee;
}
/* pre-nav left --------*/
.pre-nav-left{
  float: left;
  width: 43%;
  padding: 20px 150px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.globe{
  padding-right: 5px;
}
.english{
  border-right: 2px solid #cbd6e2;
  padding: 15px;
  display: inline;
}
.contact-sales {
  margin-left: 7%;
  display: inline-block;
}
.menu-languages{
  float: left;
  display: none;
  position: absolute;
  top: 102%;
  left: 13%;
  background-color: white;
  border: 1px solid #cbd6e2;
  width: 88.4%;
  padding: 17%;
}
.english:hover .menu-languages{
  display: inline-block;
}

.menu-languages a{
  display: block;
  margin-bottom: 8%;
}
.menu-languages a:hover{
  background-color: #e5f5f8;
}

/* pre-nav right ----------*/
.pre-nav-right{
  float: right;
  width: 45%;
  padding: 20px 150px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.search{
  padding-right: 20px;
}
.log-in{
  background-color: #fff;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 10px;
  font-size: .75rem;
  font-weight: 500;
  min-width: 5.888rem;
  border-radius: 3px;
}
.get-hubspot-free{
  background-color: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: .75rem;
  font-weight: 500;
  min-width: 5.888rem;
  border-radius: 5px;
}
/* main nav ----------------------------*/
.main-nav{
  min-height: 80px;
  width: 100%;
  padding-top: 80px;
}
nav img{
  float: left;
  padding: 33px 150px;
}
.main-nav-right{
  float: right;
  width: 66%;
  padding: 20px 96px;

}
.main-nav-right ul{
  padding: 18px 0;
}
.main-nav-right ul li{
  display: inline-block;
  padding: 0 18px;
  font-size: 19px;
  letter-spacing: 0.5px;
}
/* menu tendina software------------*/
.software-menu{
  float: left;
  display: none;
  position: absolute;
  top:149%;
  left: -208%;
  background-color: white;
  border: 1px solid #cbd6e2;
  width: 800px;
  padding: 40%;
  text-align: center;
}
.main-nav-right .software:hover .software-menu{
  display: block;
}
.first-row{
  padding-bottom: 3%;
}
.first-row:hover{
  background-color: #e5f5f8;
}

.menu-p,
.about-menu ul li{
  font-size: 12px;
}
.menu-cube{
  float: left;
  width: 33.3%;
  border-top: 1px solid #cbd6e2;
  border-bottom: 1px solid #cbd6e2;
  padding: 3%;
  margin-bottom: 3%;
}
.menu-cube:hover{
  background-color: #e5f5f8;
}
.third-row span{
  background-color: #00bda5;
  color: #fff;
  font-size: 0.625rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: .1875rem;
  text-align: center;
  text-transform: uppercase;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.third-row h3, .third-row p {
  display: inline;
}
.third-row p{
  padding-left: 3%;
}
.third-row:hover{
  background-color: #e5f5f8;
}
.third-row{
  padding: 2%;
}

/* menu tendina resources*/
.relative{
  position: relative;
}
.resources-menu{
  float: left;
  display: none;
  position: absolute;
  top:149%;
  left: -400%;
  border: 1px solid #cbd6e2;
  background-color: white;
  width: 900px;
  padding: 2%;
  text-align: center;
}
.border{
  border-bottom: 1px solid #cbd6e2;
}
.rclearfix:first-child{
  border-top: none;
}
.resources-menu span{
  background-color: #00bda5;
  color: #fff;
  font-size: 0.625rem;
  font-weight: 700;
  padding: 0.25rem 0.5rem;
  border-radius: .1875rem;
  text-align: center;
  text-transform: uppercase;
  margin-right: 5px;
  display: inline;
  vertical-align: top;
}
.service-hub h3{
  display: inline-block;
  padding-right: 3%;
}
.menu-cube-resources{
  float: left;
  width: 33.3%;
  padding: 3% 3%;
}
.menu-cube-resources:hover{
  background-color: #e5f5f8;
}

.main-nav-right .resources:hover .resources-menu{
  display: block;
}
/* menu tendina partners*/
.partners-menu{
  float: left;
  display: none;
  position: absolute;
  top:149%;
  left: -480%;
  background-color: white;
  border: 1px solid #cbd6e2;
  width: 650px;
  padding: 2%;
  text-align: center;
}
.main-nav-right .partners:hover .partners-menu{
  display: block;
}
.menu-cube-partners{
  float: left;
  width: 50%;
  padding: 3% 3%;
}
.menu-cube-partners:hover{
  background-color: #e5f5f8;
}

/* menu tendina about*/
.about-menu{
  display: none;
  position: absolute;
  top:149%;
  left: -739%;
  background-color: white;
  border: 1px solid #cbd6e2;
  width: 621px;
  padding: 40%;
}
.main-nav-right .about:hover .about-menu{
  display: block;
}

.general{
  float: left;
  width: 33.3%;
}
.about-menu ul li{
  display: block;
  padding-bottom: 3%;
}
.about-menu h3{
  padding: 3% 7% 0;
}
.about-menu ul li:hover{
  background-color: #e5f5f8;
}


/* main -------------------------------------------------------------*/
/* section jumbotron ----------------------------------*/
.jumbotron{
  min-height: 745px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-size:100% 100%;
}
.hubspot-presentation{
  float: left;
  width: 50%;
  padding: 85px 150px;
}
h1{
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  font-size: 47px;
  line-height: 60px;
}
.hubspot-presentation p{
  font-size: 19px;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}
.hubspot-presentation button {
  background-color: #ff7a59;
  color: #fff;
  padding: 25px 41px;
  font-size: 1rem;
  font-weight: 500;
  min-width: 5.888rem;
  border-radius: 5px;
  margin-bottom: 17px;
}
.hubspot-presentation span{
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  width: 51%;
}
/* section hubspot-offert ----------------------------*/
.hubspot-offert{
  background-color: #f5f8fa;
}
/* div offert-title -----------------*/

.offert-title{
  text-align: center;
  width: 100%;
  padding: 20px 150px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.offert-title img{
  max-width: 200px;
  padding-top: 100px;
}
.offert-title h2{
  font-size: 35px;
  line-height: 1.3125em;
  padding-bottom: 20px;
}
.offert-title p{
  font-size: 19px;
  letter-spacing: 0.5px;
  padding: 0px 143px;
}
/* div free-hubspot -----------------*/
.free-hubspot{
  width: 80%;
  background-color: #fff;
  margin: 54px 150px 33px;
  padding: 40px 100px;
}
.get-free{
  float: left;
  width: 30%;
}
.get-free img{
  max-width: 200px;
}
.get-free button{
  display: block;
  background-color: #ff7a59;
  color: #fff;
  padding: 16px 33px;
  font-size: .75rem;
  font-weight: 500;
  min-width: 5.888rem;
  border-radius: 5px;
  margin-left: 6%;
}
.get-free-info{
  float: left;
  width: 70%;
}
.popular-features{
  padding: 20px 0;
  float: left;
  width: 25%;
  font-weight: bolder;
}
hr{
  float: right;
  width: 74%;
  margin-top: 30px;
  height: 1px;
  border: none;
  background-color: #f5f8fa;
}
.get-free-info ul li{
  display: inline-block;
  padding-right: 18px;
  letter-spacing: 0.5px;
}
.check{
  color: #ff7a59;
  padding: 5px;
}
/* marketing-sales-service-container ------*/
.marketing-sales-service-container{
  width: 82%;
  margin: 0px 150px 85px;
}

/* div marketing --------------------*/
.marketing{
  width: 31.3%;
  float: left;
  background-color: #fff;
  padding: 40px 40px;
  margin-right: 2%;
  min-height: 750px;
}
.marketing:hover,
.free-hubspot:hover{
box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
transform: scale(1.01);
transition: 0.5s;
}
.height-sales img{
  width: 190px;
}
.height-service img{
  width: 150px;
}

.height-fixed{
  height: 430px;
}
.height-fixed-title{
  margin-top: 41px;
}
/* div marketing-info ----------*/
.marketing-info img,
.sales-info img,
.service-info img{
  max-width: 200px;
  padding-top: 30px;
  margin-left: 16.5%;
}
.marketing-info h3{
  text-align: center;
  padding-top: 20px;
}
.marketing-info p{
  padding-bottom: 20px;
}
.marketing-features h4{
  padding-top: 20px;
  border-top: 1px solid #e0e6ed;
  text-align: center;
}
.marketing-features ul{
  padding: 10px 30px 35px 0;
}

.marketing-features ul li{
  display: inline-block;
  padding-right: 18px;
  letter-spacing: 0.5px;
}
.marketing-features button{
  display: block;
  background-color: #ff7a59;
  color: #fff;
  padding: 16px 33px;
  font-size: .75rem;
  font-weight: 500;
  width: 50%;
  border-radius: 5px;
  margin-left: 23%;
}
/* section learning ------------------------------*/
.learning{
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  color: white;
  text-align: center;
}
/* div learn-grow -------------------*/
.learn-grow h2{
  padding: 79px 349px 27px;
  font-size: 35px;
  line-height: 1.3125em
}
.learn-grow p{
  font-size: 19px;
  letter-spacing: 0.5px;
  padding: 0px 352px;
}
/* div learn-info -------------------*/
.learn-info{
  width: 80%;
  margin-left: 10%;
  margin-top: 70px;
  padding-bottom: 8%;
}
.learn-info-cube{
  width: 25%;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  min-height: 200px;
  float: left;
}
.learn-info-cube img{
  padding-top: 20px;
}
.learn-info-cube h2{
  font-size: 40px;
  letter-spacing: 4px;
  padding: 10px 0 20px;
}
.learn-info-cube h2 span{
  font-size: 18px;
  font-weight: lighter;
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 9px;
}
.learn-info-cube p{
  font-size: 19px;
}
.no-border-right{
  border-right: none;
  padding-top: 1%;
}
.no-border-bottom{
  border-bottom: none;
}
/* section costumers -----------------------------*/
/* div N costumers -------------------*/
.n-costumers{
  float: left;
  width: 35%;
  margin-left: 15%;
  margin-top: 70px;
}
.n-costumers h2{
  font-size: 45px;
  line-height: 1.3125em;
  letter-spacing: 2px;
}
.n-costumers p{
  font-size: 22px;
  letter-spacing: 0.5px;
  padding-right: 140px;
  line-height: 29px;
}
.n-costumers p span{
  font-weight: bolder;
}
/* div who costumers -------------------*/
.who-costumers{
  float: right;
  width: 43%;
  margin-right: 7%;
  margin-top: 7%;
}
.costumers-cube{
  float: left;
  width: 25%;
}
/* section start-HubSpot -----------------------------------*/
/* div start-HubSpot-now --------------------*/
.start-hubspot-now{
  float: left;
  width: 35%;
  margin-left: 15%;
  margin-top: 11%;
}
.start-hubspot-now h2{
  font-size: 35px;
  line-height: 1.3125em;
  padding-bottom: 20px;
  }
.start-hubspot-now p:nth-child(2){
  font-size: 19px;
  letter-spacing: 0.5px;
  padding: 0 5% 5% 0;
}
.start-hubspot-now button{
  display: block;
  background-color: #ff7a59;
  color: #fff;
  padding: 16px 33px;
  font-size: .75rem;
  font-weight: 500;
  min-width: 5.888rem;
  border-radius: 5px;
}
.start-hubspot-img{
  float: left;
  width: 23%;
  height: 379px;
  margin-top: 8%;
  margin-left: 14%;
}
.start-hubspot-img{
background-image: url(../img/ragazza.jpg);
background-size: 100% 100%;
}
.start-hubspot-now p:nth-child(4){
  font-size: 15px;
  padding-top: 5%;
}
/* FOOTER -----------------------------------------*/
footer{
  background-color: #33475b;
  height: 700px;
  color: white;
}
.footer-main-nav{
  width: 80%;
  margin:auto;
}
.nav-footer{
  width: 21%;
  float: left;
  padding-top: 10%;
  margin-left: 4%;
}
.nav-footer h3{
  font-size: 20px;
  line-height: 1.3125em;
}
.nav-footer ul li{
  display:block;
  padding: 4% 0 0;
}

.nav-footer a,
.nav-footer a:link,
.nav-footer a:visited{
  color:#cbd6e2;
  text-decoration: none;
}
.icon{
  float: right;
  margin-right: 13%;
}
.support {
  margin-right: 9%;
}


.support button{
  margin: 2% 5% 1%;
  text-align: center;
  border-radius: .1875rem;
  background-color: #fff;
  color: #33475b;
  padding: 1%;
  font-size: .75rem;
  font-weight: 500;
  min-width: 11.888rem;
  float: right;
}
.icon span{
  padding-right: 2px;
  font-size: 21px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  min-height: 36px;
  min-width: 36px;
}
.footer-main-nav ul li a:hover,
.icon span:hover,
.languages ul li:hover,
.privacy span:hover{
  color: #7fd1de;
}
.languages{
  border-bottom: 1px solid white;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 19px;
}
.languages ul:first-child{
  margin-left: 6%;
}
.languages ul li{
  display:inline-block;
  padding: 5% 2%;
}
.copy{
  width: 80%;
  margin: auto;
}

.logo{
  float: left;
  padding-top: 2%;
}
.logo span{
  display: block;
}
.logo img{
  margin-left: -4%;
}
.privacy{
  float: right;
  padding-top: 3%;
  width: 26%;
  font-size: 19px;
}
.privacy span{
  margin-left: 14%;
}
