/* generale */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 100%;
  font-weight: 400;
  color: #33475b;
  line-height: 1.611em;
  font-style: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-top:80px;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
button:hover{
  cursor: pointer;
}
h3{
  font-size: 20px;
  line-height: 1.3125em;
  padding-bottom: 20px;
}
/* header -----------------------------------------------*/
/* pre-nav --------------------------------------*/
.pre-nav{
  background-color: #f5f8fa;
  height: 80px;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.pre-nav-left a,
.pre-nav-left a:link,
.pre-nav-left a:visited,
.search a,
.search a:link,
.search a:visited,
.main-nav-right a,
.main-nav-right a:link,
.main-nav-right a:visited{
  color: #33475b;
  text-decoration: none;
}
.pre-nav-right .log-in a,
.pre-nav-right .log-in a:link,
.pre-nav-right .log-in a:visited{
  color: #ff7a59;
  text-decoration: none;
}
.pre-nav-right .get-hubspot-free a,
.pre-nav-right .get-hubspot-free a:link,
.pre-nav-right .get-hubspot-free a:visited{
  color: #fff;
  text-decoration: none;
}
.pre-nav-right .get-hubspot-free:hover,
.hubspot-presentation button:hover{
background-color:#ffbcac;
}
.pre-nav-right .log-in:hover{
background-color:#fff1ee;
}
.pre-nav-right a:hover{
  text-decoration:
}
/* pre-nav left --------*/
.pre-nav-left{
  float: left;
  width: 43%;
  padding: 20px 150px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.globe{
  padding-right: 5px;
}
.english{
  border-right: 2px solid #cbd6e2;
  padding: 15px;
}
.contact-sales {
margin-left: 7%;
}
/* pre-nav right ----------*/
.pre-nav-right{
  float: right;
  width: 50%;
  padding: 20px 150px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.search{
  padding-right: 20px;
}
.log-in{
  background-color: #fff;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 10px;
  font-size: .75rem;
  font-weight: 500;
  min-width: 5.888rem;
  border-radius: 3px;
}
.get-hubspot-free{
  background-color: #ff7a59;
  color: #fff;
  padding: 10px;
  font-size: .75rem;
  font-weight: 500;
  min-width: 5.888rem;
  border-radius: 5px;
}
/* main nav ----------------------------*/
.main-nav{
  min-height: 80px;
  width: 100%;
}
nav img{
  float: left;
  padding: 33px 150px;
}
.main-nav-right{
  float: right;
  width: 63%;
  padding: 20px 96px;

}
.main-nav-right ul{
  padding: 18px 0;
}
.main-nav-right ul li{
  display: inline-block;
  padding: 0 18px;
  font-size: 19px;
  letter-spacing: 0.5px;
}
/* main -------------------------------------------------------------*/
/* section jumbotron ----------------------------------*/
.jumbotron{
  height: 745px;
  width: 100%;
  background-image: url(../img/jumbotron.png);
  background-size:100% 100%;
}
.hubspot-presentation{
  float: left;
  width: 50%;
  padding: 85px 150px;
}
h1{
  letter-spacing: 0.5px;
  padding-bottom: 20px;
  font-size: 47px;
  line-height: 60px;
}
.hubspot-presentation p{
  font-size: 19px;
  letter-spacing: 0.5px;
  padding-bottom: 20px;
}
.hubspot-presentation button{
  background-color: #ff7a59;
  color: #fff;
  padding: 25px 41px;
  font-size: 1rem;
  font-weight: 500;
  min-width: 5.888rem;
  border-radius: 5px;
  margin-bottom: 17px;
}
.hubspot-presentation span{
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  width: 51%;
}
/* section hubspot-offert ----------------------------*/
.hubspot-offert{
  background-color: #f5f8fa;
}
/* div offert-title -----------------*/

.offert-title{
  text-align: center;
  width: 100%;
  padding: 20px 150px;
  font-size: 18px;
  letter-spacing: 0.5px;
}
.offert-title img{
  max-width: 200px;
  padding-top: 100px;
}
.offert-title h2{
  font-size: 35px;
  line-height: 1.3125em;
  padding-bottom: 20px;
}
.offert-title p{
  font-size: 19px;
  letter-spacing: 0.5px;
  padding: 0px 162px;
}
/* div free-hubspot -----------------*/
.free-hubspot{
  width: 80%;
  background-color: #fff;
  margin: 85px 150px;
  padding: 40px 100px;
}
.get-free{
  float: left;
  width: 30%;
}
.get-free img{
  max-width: 200px;
}
.get-free button{
  display: block;
  background-color: #ff7a59;
  color: #fff;
  padding: 16px 33px;
  font-size: .75rem;
  font-weight: 500;
  min-width: 5.888rem;
  border-radius: 5px;
  margin-left: 6%;
}
.get-free-info{
  float: left;
  width: 70%;
}
/* .get-free-info h3{
  font-size: 20px;
  line-height: 1.3125em;
  padding-bottom: 20px;
} */
.popular-features{
  padding: 20px 0;
  float: left;
  width: 100%;
  font-weight: bolder;
}
hr{
  /* display: inline-block; */
}
.get-free-info ul{
  float: left;
}
.get-free-info ul li{
  display: inline-block;
  padding-right: 18px;
  letter-spacing: 0.5px;
}
.check{
  color: #ff7a59;
  padding: 5px;
}
/* div marketing --------------------*/
.marketing{
  width: 33.3%;
  float: left;
}
/* div marketing-info ----------*/
.marketing-info img{
  max-width: 200px;
}
